
header{
    nav{
        div{
            a{
                font-family: 'Staatliches', cursive;
                img{
                    width: 50;
                    height: 50;
                             
                }
            } ul{
                li{
                    a{
                        font-family: 'Staatliches', cursive;
                    }
                }
            }
        }
    }
@media screen and (max-width: 768px) {
    
}}

h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 200
}

section{
    ul{
        li{
            a{
                color: green;
                font-family: 'Staatliches', cursive;
            }
        }
    }
}

div{
    div{
        div{

            background-color: rgb(255, 254, 254);
            width: 60%;
            height: 100%;
            align-items:baseline
            img{

            }
            div{
                margin-bottom: 0%;
                h5{font-family: 'Staatliches', cursive;
                color: rgb(89, 21, 184);}
                p{ font-family: 'Rubik', sans-serif;
                 text-align:unset
                     
                }
            }
        }
    }
}







